body{
    background-color: "#f0f0f0";
}

.Chat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 90vh;
}

.chat-box{
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0,1);
    padding: 20px;
    margin-bottom: 20px;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.input-box{
    width: 80%;
}

.send-button:hover{
    background-color: '#0056b3';
}